on:
  push:
    branches: [main, master]

name: 'setup-netlogo test'
permissions: read-all

jobs:
  setup-netlogo:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['6.4.0', '7.0.2']
        cache: ['true', 'false']
    name: NetLogo ${{ matrix.version }} (cache=${{ matrix.cache }})
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Setup NetLogo
        uses: ./setup
        with:
          version: ${{ matrix.version }}
          architecture: "64"
          cache: ${{ matrix.cache }}

      - name: Test NetLogo Installation
        run: netlogo --help
        shell: bash
