on:
  push:
    branches: [main, master]

name: "Test setup-netlogo"

permissions: read-all

jobs:
  test-setup-netlogo:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['6.4.0', '7.0.2']
        cache: ['true', 'false']
    name: "NetLogo ${{matrix.version}} (cache: '${{matrix.cache}}')"
    steps:
      - name: Check Out Repository Code
        uses: actions/checkout@v4

      - name: Setup NetLogo
        uses: ./setup-netlogo
        with:
          version: ${{matrix.version}}
          architecture: '64'
          cache: ${{matrix.cache}}

      - name: Test NetLogo Installation
        run: |
          # Test NetLogo Installation
          if [[ "${{ matrix.version }}" =~ ^([0-6]+) ]]; then
            model_ext="nlogo"
          else
            model_ext="nlogox"
          fi

          model_path="${NETLOGO_HOME}/models/Sample Models/Biology"
          model_file="Wolf Sheep Predation.${model_ext}"

          netlogo \
            --headless \
            --model "${model_path}/${model_file}" \
            --experiment "Wolf Sheep Crossing" \
            --table /tmp/table-output.csv

          cat /tmp/table-output.csv
        shell: bash
